<div class="container">
  <div class="flex">
    <app-avatar
      src="assets/avatars/image-amyrobson.png"
      alt="Avatar Image"
      title="User's Avatar"
      [size]="45"
      classNames="rounded-circle"
      containerClass="avatar-container"
    ></app-avatar>

    <app-textbox
      class="ml-3 flex-grow"
      [textareaId]="'textareaId'"
      [textareaName]="'textareaName'"
      placeholder="Add a comment..."
      [ariaDescribedBy]="'ariaDescribedBy'"
    ></app-textbox>
  </div>
</div>
