<form
  class="container"
  (keydown.control.enter)="submit()"
  (submit)="$event.preventDefault(); submit()"
>
  <div class="flex gap-3">
    <app-avatar
      alt="Avatar Image"
      title="User's Avatar"
      classNames="rounded-circle"
      containerClass="avatar-container"
      [src]="avatarSrc"
      [size]="45"
    />

    <app-textbox
      class="flex-grow"
      placeholder="Add a comment..."
      [formControl]="commentText"
    />

    <div>
      <app-reply-button [text]="type" class="block" />

      @if (cancellable) {
        <app-button
          buttonType="tertiary"
          class="text-soft-red block mt-2 text-center"
          (clicked)="onCancelClick()"
        >
          Cancel
        </app-button>
      }
    </div>
  </div>
</form>
