<div class="flex items-center">
  <app-avatar
    [src]="comment.user.profilePic"
    alt="Avatar Image"
    title="User's Avatar"
    [size]="35"
  />

  <div class="ml-4 font-semibold">{{ user.username }}</div>

  <app-badge *ngIf="isCurrentUser" class="ml-2" text="you" />

  <div class="ml-4">{{ comment.createdAt | timeAgo }}</div>

  @if (!(isSmallScreen$ | async)) {
    <div class="ml-auto">
      @if (isCurrentUser) {
        <app-comment-actions
          (deleteClicked)="deleteComment()"
          (editClicked)="handleEdit()"
        />
      } @else {
        <app-reply-button (clicked)="toggleReply()" class="ml-auto" />
      }
    </div>
  }
</div>
