<textarea
  class="h-full w-full p-3 outline-none border border-gray-300 rounded-md transition focus-within:border-purple"
  [id]="textareaId"
  [name]="textareaName"
  [placeholder]="placeholder"
  [rows]="rows"
  [cols]="cols"
  [disabled]="disabled"
  [required]="required"
  [readonly]="readonly"
  [attr.aria-describedby]="ariaDescribedBy"
  [attr.aria-required]="required ? 'true' : 'false'"
  [attr.aria-readonly]="readonly ? 'true' : 'false'"
  [attr.aria-disabled]="disabled ? 'true' : 'false'"
></textarea>
