$btn-sizes: (
  sm: (
    padding: 0.25rem 0.5rem,
    font-size: 0.75rem,
  ),
  md: (
    padding: 0.5rem 1rem,
    font-size: 1rem,
  ),
  lg: (
    padding: 0.75rem 1.5rem,
    font-size: 1.25rem,
  ),
);

.btn {
  border-radius: 0.4em;

  padding: map-get(map-get($btn-sizes, md), padding);
  font-size: map-get(map-get($btn-sizes, md), font-size);

  @each $size, $props in $btn-sizes {
    &--#{$size} {
      padding: map-get($props, padding);
      font-size: map-get($props, font-size);
    }
  }

  &--primary {
    background-color: $moderate-blue;
    color: $white;
  }

  &--tertiary {
    background-color: transparent;
    color: inherit;
    text-decoration: underline;
  }
}
