<div class="container">
  <div class="flex gap-3">
    <app-avatar
      src="assets/avatars/image-amyrobson.png"
      alt="Avatar Image"
      title="User's Avatar"
      [size]="45"
      classNames="rounded-circle"
      containerClass="avatar-container"
    />

    <app-textbox
      class="flex-grow"
      placeholder="Add a comment..."
      [textareaId]="'textareaId'"
      [textareaName]="'textareaName'"
      [ariaDescribedBy]="'ariaDescribedBy'"
    />

    <app-reply-button />
  </div>
</div>
